extends layout

block content
  script(src="/socket.io/socket.io.js")
  //<script src="moment.js"></script>
  script(src="/js/moment.js")
  script.
    var socket = io.connect('https://parakeet.sandnox.com');
    //var socket = io.connect('http://192.168.1.2:4000');
    //var socket = io.connect('http://localhost:4000');
    /*
    socket.on('receive', function (message) {
      console.log('received %s', message);
      document.querySelector('.received-message').innerText = message;
    });
    */


    socket.on('connect', function() {
        console.log('connected to socket')
         document.querySelector('.title-datetime').innerText = moment().format('MMMM Do YYYY, h:mm:ss a');
        
       setInterval(function() {
            socket.emit('req_data', { message: 'rpi' })
        },
        3000);
        
      //  var slots = [0, 1, 1, 1, 0, 0, 1, 1, 1];
        /*
        for (i = 0; i < slots.length; i++) {
          if (slots[i] == 0) {

          }
          <i class="fa fa-arrow-down fa-2x"></i>
        }*/ 
    });
    var empty = 0;
    var total = 9;
    var slots = [0, 0, 0, 0, 0, 0, 0, 0 ,0]

    socket.on('from_rpi', function(data) {
      console.log(data.message);
      console.log(data.empty); // 3
      console.log(data.total); // 9
      console.log(data.slots); // [0, 1, 1, 1, 0, 0, 1, 1, 1]
     // console.log(data.message);
      empty = data.empty;
      total = data.total;
      slots = data.slots;
      document.querySelector('.notif-empty').innerText = data.empty;
      document.querySelector('.notif-total').innerText = data.total;
       document.querySelector('.title-datetime').innerText = moment().format('MMMM Do YYYY, h:mm:ss a');;
     
     // document.querySelector('.rpi_msg').innerText = data.message;

     // document.querySelector('.parking-spaces').innerText = data.slots;
        //var slots = data.slots;
        /*
        var animation ="
             -webkit-animation: glowing 1500ms infinite;
        -moz-animation: glowing 1500ms infinite;
        -o-animation: glowing 1500ms infinite;
        animation: glowing 1500ms infinite;"
        */
        var animation = "none"
        var blank = "&nbsp;";
        var slotarrow = '<i class="fa fa-arrow-up fa-lg"></i>';
        var car = '<i class="fa fa-car fa-lg"></i>';
        if (slots[0] == 0) {
          console.log('in slots[0]');
          document.querySelector('#p-1.parrow').innerHTML = slotarrow;
         
          document.querySelector('#p-1.pslot').innerHTML = blank;
          document.querySelector('#p-1.pslot').style.backgroundColor = "transparent";
          document.querySelector('#p-1.pslot').style.animation = animation;
         
        } else {
          document.querySelector('#p-1.parrow').innerHTML = blank;
           document.querySelector('#p-9.parrow').style.animation = "none";
          document.querySelector('#p-1.pslot').innerHTML = car;
          document.querySelector('#p-1.pslot').style.backgroundColor = "black";
     
        }
        
        if (slots[1] == 0) {
          document.querySelector('#p-2.parrow').innerHTML = slotarrow;
         
          document.querySelector('#p-2.pslot').innerHTML = blank;
          document.querySelector('#p-2.pslot').style.backgroundColor = "transparent";
           document.querySelector('#p-2.parrow').style.animation = animation;
        } else {
          document.querySelector('#p-2.parrow').innerHTML = blank;
           document.querySelector('#p-9.parrow').style.animation = "none";
          document.querySelector('#p-2.pslot').innerHTML = car;
          document.querySelector('#p-2.pslot').style.backgroundColor = "black";
          document.querySelector('#p-2.parrow').style.animation = "none";

        }
        if (slots[2] == 0) {
          document.querySelector('#p-3.parrow').innerHTML = slotarrow;
          
          document.querySelector('#p-3.pslot').innerHTML = blank;
          document.querySelector('#p-3.pslot').style.backgroundColor = "transparent";
        }else {
          document.querySelector('#p-3.parrow').innerHTML = blank;
           document.querySelector('#p-9.parrow').style.animation = "none";
          document.querySelector('#p-3.pslot').innerHTML = car;
          document.querySelector('#p-3.pslot').style.backgroundColor = "black";
zq        }

        if (slots[3] == 0) {
          document.querySelector('#p-4.parrow').innerHTML = slotarrow;
         
          document.querySelector('#p-4.pslot').innerHTML = blank;
          document.querySelector('#p-4.pslot').style.backgroundColor = "transparent";
           document.querySelector('#p-4.parrow').style.animation = animation;
        }else {
          document.querySelector('#p-4.parrow').innerHTML = blank;
         
          document.querySelector('#p-4.pslot').innerHTML = car;
          document.querySelector('#p-4.pslot').style.backgroundColor = "black";
          document.querySelector('#p-4.parrow').style.animation = "none";
        }

        if (slots[4] == 0) {
          document.querySelector('#p-5.parrow').innerHTML = slotarrow;
         
          document.querySelector('#p-5.pslot').innerHTML = blank;
          document.querySelector('#p-5.pslot').style.backgroundColor = "transparent";
           document.querySelector('#p-5.parrow').style.animation = animation;
        } else {
          document.querySelector('#p-5.parrow').innerHTML = blank;
           document.querySelector('#p-9.parrow').style.animation = "none";
          document.querySelector('#p-5.pslot').innerHTML = car;
          document.querySelector('#p-5.pslot').style.backgroundColor = "black";
          document.querySelector('#p-5.parrow').style.animation = "none";
        }

        if (slots[5] == 0) {
          document.querySelector('#p-6.parrow').innerHTML = slotarrow;
         
          document.querySelector('#p-6.pslot').innerHTML = blank;
          document.querySelector('#p-6.pslot').style.backgroundColor = "transparent";
           document.querySelector('#p-6.parrow').style.animation = animation;
        } else {
          document.querySelector('#p-6.parrow').innerHTML = blank;
           document.querySelector('#p-9.parrow').style.animation = "none";
          document.querySelector('#p-6.pslot').innerHTML = car;
          document.querySelector('#p-6.pslot').style.backgroundColor = "black";
          document.querySelector('#p-6.parrow').style.animation = "none";
        }
        if (slots[6] == 0) {
          document.querySelector('#p-7.parrow').innerHTML = slotarrow;
          
          document.querySelector('#p-7.pslot').innerHTML = blank;
          document.querySelector('#p-7.pslot').style.backgroundColor = "transparent";
           document.querySelector('#p-7.parrow').style.animation = animation;
        } else {
          document.querySelector('#p-7.parrow').innerHTML = blank;
         
          document.querySelector('#p-7.pslot').innerHTML = car;
          document.querySelector('#p-7.pslot').style.backgroundColor = "black";
          document.querySelector('#p-7.parrow').style.animation = "none";
        }
        if (slots[7] == 0) {
          document.querySelector('#p-8.parrow').innerHTML = slotarrow;
         
          document.querySelector('#p-8.pslot').innerHTML = blank;
          document.querySelector('#p-8.pslot').style.backgroundColor = "transparent";
           document.querySelector('#p-8.parrow').style.animation = animation;
        } else {
          document.querySelector('#p-8.parrow').innerHTML = blank;
           document.querySelector('#p-9.parrow').style.animation = "none";
          document.querySelector('#p-8.pslot').innerHTML = car;
          document.querySelector('#p-8.pslot').style.backgroundColor = "black";
          document.querySelector('#p-8.parrow').style.animation = "none";
        }
        if (slots[8] == 0) {
          document.querySelector('#p-9.parrow').innerHTML = slotarrow;
          
          document.querySelector('#p-9.pslot').innerHTML = blank;
          document.querySelector('#p-9.pslot').style.backgroundColor = "transparent";
           document.querySelector('#p-9.parrow').style.animation = animation;
        } else {
          document.querySelector('#p-9.parrow').innerHTML = blank;
        
          document.querySelector('#p-9.pslot').innerHTML = car;
          document.querySelector('#p-9.pslot').style.backgroundColor = "black";
          document.querySelector('#p-9.parrow').style.animation = "none";
        }


        
     });

  //.header.frontpage
  //  h1.frontpage= title

  //.actual-content.frontpage
  //  h3.frontpage front page
  //  p 
  //    span.rpi_msg proxy

  .wrapper-center

      div.title-header.center-block
        div.parkingname.center-block UP EEEI Student's Parking A
        div.title-datetime.center-block 

      div.notif.center-block
        div.there-are.center-block.center-block THERE ARE
        div.center-box
          div.notif-empty.center-block 0
          div.lower-box.center-block
            div.out-of OUT OF 
            div.notif-total 0
        div.spaces-available.center-block SPACES AVAILABLE

      div.parking-spaces-div.center-block
        .street-table 
          .row-velasquez 
            div#p1.velasquez &nbsp;
            div#p2.velasquez &nbsp;
            div#p3.velasquez &nbsp;
            div#p4.velasquez 
              span P. VELASQUEZ ST.

        //.parking-spaces-actual 
        .parking-spaces-table
          //p insert table of parking spaces

         
          div.row2
            div#p-1.pslot &nbsp;
            div#p-2.pslot &nbsp;
            div#p-3.pslot &nbsp;
            div#p-4.pslot &nbsp;
            div#p-5.pslot &nbsp;
            div#p-6.pslot &nbsp;
            div#p-7.pslot &nbsp;
            div#p-8.pslot &nbsp;
            div#p-9.pslot &nbsp;
          div.row1

            div#p-1.parrow &nbsp;
            div#p-2.parrow &nbsp;
            div#p-3.parrow &nbsp;
            div#p-4.parrow  &nbsp;
            div#p-5.parrow &nbsp;
            div#p-6.parrow &nbsp;
            div#p-7.parrow &nbsp;
            div#p-8.parrow &nbsp;
            div#p-9.parrow &nbsp;
        .parking-blank-table

             
          div.row1
              div#p-1.barrow &nbsp;
              div#p-2.barrow 
                i(class="fa fa-arrow-down fa-lg")
              div#p-3.barrow 
                i(class="fa fa-arrow-down fa-lg")
              div#p-4.barrow  
                i(class="fa fa-arrow-down fa-lg")
              div#p-5.barrow 
                i(class="fa fa-arrow-down fa-lg")
              div#p-6.barrow 
                i(class="fa fa-arrow-down fa-lg")
              div#p-7.barrow 
                i(class="fa fa-arrow-down fa-lg")
              div#p-8.barrow &nbsp;
              div#p-9.barrow &nbsp;
          div.row2
              div#p-1.bslot &nbsp;
              div#p-2.bslot  &nbsp;

              div#p-3.bslot  &nbsp;
              div#p-4.bslot  &nbsp;
              div#p-5.bslot  &nbsp;
              div#p-6.bslot  &nbsp;
              div#p-7.bslot  &nbsp;
              div#p-8.bslot  &nbsp;
              div#p-9.bslot  &nbsp;
            
      div.bldg-div.center-block
        div.bldg-front  FRONT OF UP EEEI NEW BLDG
         

