<svg width="566px" height="69px" viewBox="0 0 566 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 44 (41411) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Mockups" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="webview:-box-center-w-map" transform="translate(-766.000000, -293.000000)">
            <g id="spaces" transform="translate(701.000000, 148.000000)">
                <g id="street" transform="translate(347.527994, 180.648008) rotate(-2.000000) translate(-347.527994, -180.648008) translate(67.027994, 155.648008)">
                    <g id="left-street" transform="translate(0.000000, 0.943262)" stroke="#000000" stroke-width="5" stroke-linecap="square">
                        <path d="M55.767915,1.41489362 L139.444475,1.41489362" id="Line"></path>
                        <path d="M0.082521789,44.8049645 L83.7590822,44.8049645" id="Line"></path>
                    </g>
                    <path d="M142.936466,2.35815603 L560.531165,2.35815603" id="Line" stroke="#000000" stroke-width="5" stroke-linecap="square"></path>
                    <path d="M142.936466,46.6914894 L560.531165,46.6914894" id="Line" stroke="#000000" stroke-width="5" stroke-linecap="square"></path>
                    <text id="P.-VELASQUEZ-ST." font-family="GillSans, Gill Sans" font-size="32" font-weight="normal" fill="#000000">
                        <tspan x="192" y="34">P. VELASQUEZ ST</tspan>
                        <tspan x="439.78125" y="34">.</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>