extends layout

block content
  .header.frontpage
    h1.frontpage= title
    p v1.0 

  .actual-content.frontpage
    h3.frontpage System Details
    p 
      i(class="fa fa-desktop fa-lg")
      span The SMS server is currently running in 
      span.color-red local mode
    if ifConnected == 1
      p 
        i(class="fa fa-check-circle fa-lg")
        span The GSM modem is connected
    else
      p
        i(class="fa fa-circle-o-notch fa-spin fa-lg fa-fw loading-gsm-icon")
        span Please connect the GSM modem
    p 
      i(class="fa fa-clock-o fa-lg")
      span The server has been running since
      span.color-red  #{timeRunning}

  