// Colors
@color-black: #282828;
@color-red: #bf1e2d;
@color-white: white;

/*
@menu-bg-color: @color-red;
@menu-text-color: @color-red;
@menu-links-color: @color-white;
@menu-links-bg-hover-color: @color-white;
@menu-links-text-hover-color: @color-red;

@menu-heading-text-color: @color-white;
*/

@menu-bg-color: @color-white;
@menu-text-color: @color-white;
@menu-links-color: @color-red;
@menu-links-bg-hover-color: @color-red;
@menu-links-text-hover-color: @color-white;
@menu-heading-text-color: @color-red;
@menu-heading-bg-color: @color-white;
@menu-width: 200px;