doctype html
html
  head
    title="Parakeet - Parking Made Easy" 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content="Bike Share SMS Server (Local Mode)")

    link(rel='stylesheet', href='/css/pure-release-0.6.1/pure-min.css')
    link(rel='stylesheet',
      href='/css/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/layouts/main.css')

    link(rel="stylesheet", href="/css/layouts/side-menu.css")

    link(rel="shortcut icon" href="/img/parakeet-icons/favicon.ico" type="image/x-icon")
    link(rel="manifest" href="/manifest.json")

    // Add to home screen for Safari on iOS 
    // <link rel="apple-touch-startup-image" href="/launch.png">
    link(rel="apple-touch-startup-image" href="img/parakeet-icons/android-icon-192x192.png")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-title" content="Parakeet")
    //link(rel="apple-touch-icon" href="img/parakeet-icons/apple-icon-152x152.png")
    link(rel="apple-touch-icon" href="img/parakeet-icons/parakeet-152.png")
    //meta(name="viewport" content="initial-scale=1.0, user-scalable=yes")
    // <meta name = "viewport" content = "initial-scale = 2.3, user-scalable = yes">
    
    //link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    //link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    //link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    //link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    //link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    //link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    //link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    //link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    //link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    //link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#FFDE02')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#FFDE02')


    // For Windows
    meta(name="msapplication-TileImage" content="images/icons/icon-144x144.png")
    meta(name="msapplication-TileColor" content="#2F3BA2")
    //link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker
          .register('/service-worker.js')
          .then(function() { console.log('Service Worker Registered'); });
       }

  body

  // Sidemenu
  #layout 
    a(href="#menu", id="menuLink", class="menu-link")
      i(class="fa fa-bars fa-3x burger")
      //span

    #menu
      .pure-menu
        a(class="pure-menu-heading", href="/")
          img(src="/img/parakeet_logo_header_white.png" id="pk-logo")

        ul.pure-menu-list
          li(class="pure-menu-item dropdown-search")
            label
              select(class="custom-dropdown")
                option UP EEEI Student's Parking A
              i(class="fa fa-caret-down fa-lg dropdown-triangle")

          li(class="pure-menu-item", id="menu-desc")
            p Parakeet is a camera-based parking lot system for an undergraduate project. It is still in its early stages of development as of May 2017. Currently, it is deployed with the view of the student's parking lot in front of UP EEEI.

    #main
      block content

  script(src="/js/ui.js")
  script(type='text/javascript', src='/js/moment.js')