/*
@menu-bg-color: @color-red;
@menu-text-color: @color-red;
@menu-links-color: @color-white;
@menu-links-bg-hover-color: @color-white;
@menu-links-text-hover-color: @color-red;

@menu-heading-text-color: @color-white;
*/
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.01em;
}
html {
  background-color: #FFDE02;
  height: 100%;
  width: 100%;
}
/*
#menu .pure-menu-selected {
    background: white;
    color: #191818;
}
*/
/*
#center-title-header {

    display: inline-block;
    padding: 0 2em;
    max-width: 800px;
    text-align: left;
}
*/
