extends layout

block content
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect('https://parakeet.sandnox.com');
    //var socket = io.connect('http://192.168.1.2:4000');
    socket.on('receive', function (message) {
      console.log('received %s', message);
      document.querySelector('.received-message').innerText = message;
    });
    socket.on('connect', function() {
        setInterval(function() {
            socket.emit('req_data', { message: 'test' })
        },
        3000);
    });
    socket.on('from_rpi', function(data) {
      console.log(data.message);
      document.querySelector('.rpi_msg').innerText = data.message;
    });

  .header.frontpage
    h1.frontpage= title

  .actual-content.frontpage
    h3.frontpage front page
    p 
      span.rpi_msg proxy
