doctype html
html
  head
    title="UP Bike Share SMS Server" 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content="Bike Share SMS Server (Local Mode)")

    link(rel='stylesheet', href='/css/pure-release-0.6.1/pure-min.css')
    link(rel='stylesheet',
      href='/css/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="/css/layouts/side-menu.css")
    link(rel='stylesheet', href='/css/layouts/main.css')

    link(rel="shortcut icon" href="/img/logo_bikeshare.ico" type="image/x-icon")
    link(rel="manifest" href="/manifest.json")

    // Add to home screen for Safari on iOS 
    // <link rel="apple-touch-startup-image" href="/launch.png">
    link(rel="apple-touch-startup-image" href="images/icons/icon-192x192.png")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-title" content="Parakeet")
    link(rel="apple-touch-icon" href="images/icons/icon-152x152.png")
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    // <meta name = "viewport" content = "initial-scale = 2.3, user-scalable = no">


    // For Windows
    meta(name="msapplication-TileImage" content="images/icons/icon-144x144.png")
    meta(name="msapplication-TileColor" content="#2F3BA2")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker
          .register('/service-worker.js')
          .then(function() { console.log('Service Worker Registered'); });
       }

  body

  // Sidemenu
  #layout 
    #top-menu
      a(href="#menu", id="menuLink", class="menu-link")
        i(class="fa fa-bars fa-3x burger")
        //span

    #menu
      .pure-menu
        a(class="pure-menu-heading", href="/")
          img(src="/img/parakeet_logo_header_white.png" id="bs-logo")

        ul.pure-menu-list
          li(class="dropdown-search")
            select(class="custom-dropdown")
              option UP EEEI Student's Parking A

          li(class="pure-menu-item", id="menu-desc")
            p Parakeet is a camera-based parking lot system for an undergraduate project. It is still in its early stages of development as of May 2017. Currently, it is deployed with the view of the student's parking lot in front of UP EEEI.

    #main
      block content

  script(src="/js/ui.js")
  script(type='text/javascript', src='/js/moment.js')