
// out: ../css/layouts/main.css

// Colors
@color-black: #282828;
@color-red: #bf1e2d;
@color-white: white;
@color-yellow: #FFDE02;

/*
@menu-bg-color: @color-red;
@menu-text-color: @color-red;
@menu-links-color: @color-white;
@menu-links-bg-hover-color: @color-white;
@menu-links-text-hover-color: @color-red;

@menu-heading-text-color: @color-white;
*/

@menu-bg-color: @color-white;
@menu-text-color: @color-white;
@menu-links-color: @color-red;
@menu-links-bg-hover-color: @color-red;
@menu-links-text-hover-color: @color-white;
@menu-heading-text-color: @color-red;
@menu-heading-bg-color: @color-white;
@menu-width: 200px;

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}

html {
    background-color: @color-yellow;
    height: 100%;
    width: 100%;
}

/*
#menu .pure-menu-selected {
    background: white;
    color: #191818;
}
*/








/*
#center-title-header {

    display: inline-block;
    padding: 0 2em;
    max-width: 800px;
    text-align: left;
}
*/


