// out: ../css/layouts/side-menu.css

// Colors
//@color-black: #282828;

@color-black: black;
@color-red: #bf1e2d;
@color-white: white;
@color-lightgray: #ccc;
@color-verylightgray: #f2f2f2;
@color-yellow: #FFDE02;

/*

@menu-bg-color: @color-red;
@menu-text-color: @color-red;
@menu-links-color: @color-white;
@menu-links-bg-hover-color: @color-white;
@menu-links-text-hover-color: @color-red;

@menu-heading-text-color: @color-white;
@menu-heading-bg-color: @color-red;
*/

@burger-color: @color-black;
@top-menu-bg-color: @color-black;

@menu-burger-color: @color-white;
@menu-bg-color: @color-black;
@menu-text-color: @color-white;
@menu-links-color: @color-white;
@menu-links-bg-hover-color: @color-black;
@menu-links-text-hover-color: @color-black;
@menu-heading-text-color: @color-white;
@menu-heading-bg-color: @color-black;
@menu-heading-border-color: @color-black;

@content-heading-color: @color-red;
@content-text-color: @color-black;

@button-bg-color: @color-red;
@button-text-color: @color-white;
@button-bg-hover-color: @color-white;
@button-text-hover-color: @color-red;

@border-gray-color: @color-lightgray;

@csv-border-color: @color-verylightgray;

// Padding from the menu
@padding-content: 3em;

@menu-width: 250px;

/* Fonts */
@path-fonts: "/fonts";
@font-face {
    font-family: 'Quicksand';
    src: 
    url('@{path-fonts}/Quicksand/quicksand-regular-webfont.woff2') format('woff2'),
         url('@{path-fonts}/Quicksand/quicksand-regular-webfont.woff') format('woff')
         url('@{path-fonts}/Quicksand/Quicksand-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: 
      url('@{path-fonts}/Quicksand/quicksand-light-webfont.woff2') format('woff2'),
         url('@{path-fonts}/Quicksand/quicksand-light-webfont.woff') format('woff'),
         url('@{path-fonts}/Quicksand/Quicksand-Light.otf') format("opentype"); 
   
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: 
    url('@{path-fonts}/Quicksand/quicksand-lightitalic-webfont.woff2') format('woff2'),
         url('@{path-fonts}/Quicksand/quicksand-lightitalic-webfont.woff') format('woff'),
         url('@{path-fonts}/Quicksand/Quicksand-LightItalic.otf') format("opentype");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Quicksand';
    src: 
     url('@{path-fonts}/Quicksand/quicksand-bold-webfont.woff2') format('woff2'),
         url('@{path-fonts}/Quicksand/quicksand-bold-webfont.woff') format('woff'),
         url('@{path-fonts}/Quicksand/Quicksand-Bold.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Quicksand';
    src: 
    url('@{path-fonts}/Quicksand/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('@{path-fonts}/Quicksand/quicksand-bolditalic-webfont.woff') format('woff'),
         url('@{path-fonts}/Quicksand/Quicksand-BoldItalic.otf') format("opentype");
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Quicksand';
    src: 
    url('@{path-fonts}/Quicksand/quicksand-italic-webfont.woff2') format('woff2'),
         url('@{path-fonts}/Quicksand/quicksand-italic-webfont.woff') format('woff'),
         url('@{path-fonts}/Quicksand/Quicksand-Italic.otf') format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quicksand-Dash';
    src: 
    url('@{path-fonts}/Quicksand/quicksand_dash-webfont.woff2') format('woff2'),
         url('@{path-fonts}/Quicksand/quicksand_dash-webfont.woff') format('woff'),
         url('@{path-fonts}/Quicksand/Quicksand_Dash.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}


.normal-font() {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: @content-text-color;
}

.csv-title-font() {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: @content-heading-color;
    font-size: 1.2em;
}

/* End of Fonts */

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
    .normal-font();
    letter-spacing: 0.01em;
}


.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


/*
Add transition to containers so they can push in and out.
*/

#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


/*
This is the parent `<div>` that contains the menu and the content area.
*/

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

#layout.active #menu {
    left: @menu-width;
    width: @menu-width;
}

#layout.active .menu-link {
    left: @menu-width;
}


/*
The content `<div>` is where all your content goes.
*/

.content {
    margin: 0 auto;
    padding: 0 @padding-content;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    margin: 0;
    color: @content-text-color;
    text-align: center;
    padding: 2.5em @padding-content 0;
    border-bottom: 1px solid transparent;
     text-align: left;
    position: relative;
}

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    position: relative;
    margin: 50px 0 20px 0;
    font-weight: 300;
    //color: #888;
    color: @content-text-color;
}


@padding-csv: 10px 10px 10px 10px;

// The actual-content class at the same level as .header
.actual-content {
    padding: 0em @padding-content 0;
    margin:0;
    color: @content-text-color;

    /* CSV options */
    .title-csv {
                display: block;
                margin-bottom: 10px;
                .csv-title-font();
                width: 350px;
                
            }
    .csv-div {
        width: 60%;
        display: table;
        margin-bottom: 20px;

        .upload-csv  {
            width:30%;
            height:125px;
            margin-bottom:10px;
            padding: @padding-csv;
            border-width: 1px;
            //border-width: 0 1px 0px 0px;
            border-style: solid;
            border-color: @csv-border-color;
            .upper-cell {
                display: block;
                margin-bottom: 10px;
                width: 300px;
            }
            .lower-cell {

                display:block;
            }

            form {
                width: 350px;
            }

//display: inline-block;
        }
        .download-csv {
            width:30%;

            height:125px;
            margin-bottom:10px;
             padding: @padding-csv;
             border-width: 1px 1px 1px 0px;
            //border-width: 0 1px 0px 0px;
            border-style: solid;
            border-color: @csv-border-color;
            /* float:left; */

            //display:inline-block;

  //          margin-bottom:5px;
          

        }
        .download-csv.alone {
            border-width: 1px 1px 1px 1px;
        }
         i {
                    margin-right: 5px;
                }
    }
}

.upload-csv-button {
    margin-top: 1.25em;
}
input[type="file"] {
    width: 350px;
}
.form-riders {
    width: 350px;
}

input:focus {
    border-color: @color-red;
}

.pure-table-horizonal {
    float:left;
    width: 100%;
    left:0;
}

table {
    margin-bottom: 70px;
}
/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -@menu-width;
    /* "#menu" width */
    width: @menu-width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    /* so the menu or its navicon stays above all content */
    //background: #191818;
    background: @menu-bg-color;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    color: @menu-text-color;


}


/*
    All anchors inside the menu should be styled like this.
    */

#menu a {
    color: @menu-links-color;
    border: none;
    //padding: 0.6em 0 0.6em 4em;
    font-family: "Quicksand";
    font-weight: 500;
}


/*
    Remove all background/borders, since we are applying them to #menu.
    */

#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
    background: @menu-bg-color;
}


/*
    Add that light border to separate items into groups.
    */

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid @menu-heading-border-color;
}




/*
        Change color of the anchor links on hover/focus.
        */

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    //background: #333;
    //background: @menu-links-bg-hover-color;
    //color: @menu-links-text-hover-color;
    background: transparent;
    
    font-weight: bold;
}


/*
    This styles the selected menu item `<li>`.
    */

#menu .pure-menu-selected {
    background: @menu-links-bg-hover-color;
    color: @menu-links-text-hover-color;
}

#menu .pure-menu-heading {
    padding-top: 5em;
    background: @menu-heading-bg-color;
    color: @menu-heading-text-color;
    span .center {
        text-align: center;
    }
}


/*
        This styles a link within a selected menu item `<li>`.
        */

#menu .pure-menu-selected a {
    color: @menu-links-text-hover-color;
}


/*
    This styles the menu heading.
    */

#menu .pure-menu-heading {
    font-size: 110%;
    font-weight: bold;
    color: @menu-heading-text-color;
    margin: 0;
}


/* -- Dynamic Button For Responsive Menu -------------------------------------*/


/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/


/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/

.menu-link {
    position: fixed;
    display: block;
    /* show this only on small screens */
    top: 0;
    left: 0;
    /* "#menu width" */
    background: transparent;
    //background: #000;
    //background: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

/*
.menu-link:hover,
.menu-link:focus {
    //background: #000;
}
*/

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: @menu-burger-color;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

/* Buttons
*/
.proj-dl-links {
    display: block;
    margin-bottom: 10px;
}
 

.pure-button {
    background-color: @button-bg-color; 
    color: @button-text-color;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.pure-button:hover {
    background: @button-bg-hover-color;
    color:@button-text-hover-color;
    border-color: @button-text-hover-color;
    border-width: 1px;
    border-style: solid;
}


/*
Videos
*/
.video-yt {
    margin: 0 auto;
    display: block;
    text-align: center;
}


iframe {
    margin: 0 auto;
    display: block;
}

/*
Tables
*/
.pure-table thead {
    background-color: transparent;
    color: @menu-heading-text-color;
   //border-bottom: 1px solid #cbcbcb;
}

/*
title
*/

.header h1 {
    color: @menu-heading-text-color;
}
h3 {
    color: @menu-heading-text-color;
}

.actual-content.frontpage {
    .fa-lg {
    color: @menu-heading-text-color;
    margin-right: 5px;
    }
    .fa-circle-o-notch{
        margin-left: -3px;
    }
    span.color-red {
        color: @menu-heading-text-color;
        font-weight: bold;
    }

}



/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/

@media (min-width: 48em) {
    /*
    .header,
    .content {
        // padding-left: 2em;
        //padding-right: 2em;
       // padding-left: 2em;
    }
    */
    #layout {
        padding-left: @menu-width;
        /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: @menu-width;
    }
    .menu-link {
        position: fixed;
        left: @menu-width;
        display: none;
    }
    #layout.active .menu-link {
        left: @menu-width;
    }
    .upload-csv, .download-csv {
        width: 100%;
            height:125px;
            margin-bottom:10px;
            display: table-cell;
    }

}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    .csv-div {
        width: 100% !important;
    }
    
    .upload-csv, .download-csv{
        width:100% !important;   
        float:none;
        display: block;
        margin-right: 0px;
    }

    #layout.active {
        position: relative;
        left: @menu-width;
    }
}


/****
Burger
****/
.burger {
    color: @burger-color;
}


/*******
Mods for parakeet sidebar
***/
/****
Parakeet header logo
***/


#bs-logo {
    width: 100%;
}

/**** 
Parakeet desc
****/



/********
Drop down select input
******/
select.custom-dropdown {
 -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
 -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
 border: 0 !important;  /*REMOVES BORDER*/
}
select.custom-dropdown {
 -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
 -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
 border: 0 !important;  /*REMOVES BORDER*/

 background-color: #0d98e8;
 color: #fff;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 font-size: 14px;
 padding: 10px;
 width: 35%;
 cursor: pointer;
}
select.custom-dropdown {
 -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
 -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
 border: 0 !important;  /*REMOVES BORDER*/

 color: #fff;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 font-size: 14px;
 padding: 10px;
 width: 35%;
 cursor: pointer;

 background: #0d98e8 url(drop-down-arrow.png) no-repeat right center;
 background-size: 40px 37px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
}