doctype html
html
  head
    title="UP Bike Share SMS Server" 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content="Bike Share SMS Server (Local Mode)")

    link(rel='stylesheet', href='/css/pure-release-0.6.1/pure-min.css')
    link(rel='stylesheet',
      href='/css/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="/css/layouts/side-menu.css")
    link(rel='stylesheet', href='/css/main.css')

    link(rel="shortcut icon" href="/img/logo_bikeshare.ico" type="image/x-icon")

  body

  // Sidemenu
  #layout 
    a(href="#menu", id="menuLink", class="menu-link")
      span

    #menu
      .pure-menu
        a(class="pure-menu-heading", href="/")
          img(src="/img/logo_bikeshare.png" id="bs-logo")
          br
          span SMS Server
        ul.pure-menu-list

          li(class="pure-menu-item", id="menu-status")
            a(href="/status", class="pure-menu-link") 
              span Status
  
          li(class="pure-menu-item", id="menu-bikecodes")
            a(href="/bikestations", class="pure-menu-link") 
              span Bike Stations
          li(class="pure-menu-item", id="menu-bikecodes")
            a(href="/bikecodes", class="pure-menu-link") 
              span Bike Codes
          li(class="pure-menu-item", id="menu-logs")
            a(href="/logs", class="pure-menu-link") 
              span Logs
        

    #main
      block content

  script(src="/js/ui.js")
  script(type='text/javascript', src='/js/moment.js')