doctype html
html
  head
    title= title
    link(rel="manifest" href="/manifest.json")

    // Add to home screen for Safari on iOS 
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-title" content="Weather PWA")
    link(rel="apple-touch-icon" href="images/icons/icon-152x152.png")
    meta(name="msapplication-TileImage" content="images/icons/icon-144x144.png")
    meta(name="msapplication-TileColor" content="#2F3BA2")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker
          .register('/service-worker.js')
          .then(function() { console.log('Service Worker Registered'); });
       }


  body
    block content