<!DOCTYPE html>
<html>

<head>
    <title>Parakeet | Initial Set-up</title>

    <meta charset="utf-8">
</head>

<body>


    <canvas id="cvs_parklot" width="1280" height="720">
			Unfortunately, your browser does not support the &ltcanvas&gt; tag.
			Please switch to a browser that supports it.
		</canvas>

    <br>

    <textarea id="txtarea_json">
		</textarea>

    <button id="btn_new_rect">Add Parking Space</button>
    <button id="btn_save">Save Parking Lot</button>

    <script src="origami.min.js"></script>
    <script src="umbrella.min.js"></script>
    <script src="shortcut.min.js"></script>
    <script>
        var ctx = origami("#cvs_parklot");
        //var pklotImgName = "static/img/test_lot.jpg";

        // Used for eeei_5th_solar_041017
        // used for parking line based
        //var pklotImgName = "/Users/agatha/Documents/CoE198/datasets/EEEI/eeei_5th_solar_041017_a_morning/20170330_0323.jpg";
        // used for top of car based
        // for eeei_5th_solar_a
        //var pklotImgName = "/Users/agatha/Documents/CoE198/datasets/EEEI/eeei_5th_solar_041017_a_morning/20170330_0654.jpg"
        // For eeei_4th_bridge_morning
        var pklotImgName = "parkinglot_node1.jpg";
        var polyParkSpace = [];
        var polyClipboard = null;
        var selectedPolyIdx = -1,
            selectedAnchorIdx = -1;
        var prevMousePos;

        redrawCanvas();

        shortcut.add("Delete", function() {
            if (selectedPolyIdx >= 0) {
                polyParkSpace.splice(selectedPolyIdx, 1);
                selectedPolyIdx = -1;

                redrawCanvas();
            }
        });

        shortcut.add("Ctrl+C", function() {
            if (selectedPolyIdx >= 0) {
                polyClipboard = polyParkSpace[selectedPolyIdx];
            }
        });

        shortcut.add("Ctrl+V", function() {
            if (polyClipboard != null) {
                polyParkSpace.push(JSON.parse(JSON.stringify(polyClipboard)));
                polyClipboard = null;
                selectedPolyIdx = polyParkSpace.length - 1;

                redrawCanvas();
            }
        });

        function redrawCanvas() {
            ctx.clear()
                .image(pklotImgName);

            for (var i = 0; i < polyParkSpace.length; ++i) {
                ctx.polygon(polyParkSpace[i][0], polyParkSpace[i][1], polyParkSpace[i][2], polyParkSpace[i][3], polyParkSpace[i][0], {
                    background: "rgba(0, 255, 0, 0.25)",
                    border: "1px solid Black"
                });

                if (i == selectedPolyIdx) {
                    drawPolyAnchors(polyParkSpace[i], 10);
                }
            }

            ctx.load(function(mycanvas) {
                mycanvas.draw();
            });
        }

        function drawPolyAnchors(polyPts, handleSize) {
            for (var i = 0; i < 4; ++i) {
                ctx.rect(polyPts[i].x - (handleSize / 2), polyPts[i].y - (handleSize / 2), handleSize, handleSize, {
                    background: "rgba(255, 255, 255, 1)",
                    border: "1ps solid Black"
                });
            }
        }

        function handleDrag(eObj) {
            var canvasRect = this.getBoundingClientRect();
            var nowMousePos = {
                x: eObj.clientX - canvasRect.left,
                y: eObj.clientY - canvasRect.top
            };
            var tempParkSpace = polyParkSpace[selectedPolyIdx];

            if (selectedAnchorIdx >= 0) {
                tempParkSpace[selectedAnchorIdx].x += nowMousePos.x - prevMousePos.x;
                tempParkSpace[selectedAnchorIdx].y += nowMousePos.y - prevMousePos.y;
            } else if (selectedPolyIdx >= 0 && selectedAnchorIdx < 0) {
                for (var i = 0; i < 4; ++i) {
                    tempParkSpace[i].x += nowMousePos.x - prevMousePos.x;
                    tempParkSpace[i].y += nowMousePos.y - prevMousePos.y;
                }
            }

            polyParkSpace[selectedPolyIdx] = tempParkSpace;

            prevMousePos = nowMousePos;
            redrawCanvas();
        }

        u("#btn_save").on("click", function(eObj) {
            function destroyClickedElement(event)
            {
                document.body.removeChild(event.target);
            }

            var spacesArr = [];

            polyParkSpace.forEach(function(v, k) {
                spacesArr.push({
                    id: (k + 1),
                    pts: v
                });
            });

            var d = JSON.stringify({
                parking_id: "eeei",
                spaces: spacesArr
            }, null, 1);

            var data = new Blob([d], {type: 'text/plain'});
            var textToSaveAsURL = window.URL.createObjectURL(data);
            var downloadLink = document.createElement("a");
            downloadLink.download = "test1.json";
            downloadLink.innerHTML = "Download File";
            downloadLink.href = textToSaveAsURL;
            downloadLink.onclick = destroyClickedElement;
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
         
            downloadLink.click();

            u("#txtarea_json").text(d);
        });

        u("#cvs_parklot").on("mousedown", function(eObj) {
            var canvasRect = this.getBoundingClientRect();
            var mousePos = {
                x: eObj.clientX - canvasRect.left,
                y: eObj.clientY - canvasRect.top
            };
            var anchorSize = 10;
            var tempPolyIdx = -1,
                tempAnchorIdx = -1;

            //selectedPolyIdx = -1;

            for (t = polyParkSpace.length - 1; t >= 0; --t) {
                var isInside = false;

                for (var i = 0, j = polyParkSpace[t].length - 1; i < polyParkSpace[t].length; j = i++) {
                    // Check if inside of polyhon is clicked
                    if (((polyParkSpace[t][i].y > mousePos.y) != (polyParkSpace[t][j].y > mousePos.y)) &&
                        (mousePos.x < (polyParkSpace[t][j].x - polyParkSpace[t][i].x) * (mousePos.y - polyParkSpace[t][i].y) / (polyParkSpace[t][j].y - polyParkSpace[t][i].y) + polyParkSpace[t][i].x)) {
                        isInside = !isInside;
                    }

                    // Check if anchor is clilcked
                    if (t == selectedPolyIdx && tempAnchorIdx < 0 &&
                        2 * (polyParkSpace[t][i].x - mousePos.x) <= anchorSize && 2 * (mousePos.x - polyParkSpace[t][i].x) <= anchorSize &&
                        2 * (polyParkSpace[t][i].y - mousePos.y) <= anchorSize && 2 * (mousePos.y - polyParkSpace[t][i].y) <= anchorSize) {
                        tempAnchorIdx = i;
                    }
                }

                if (isInside || tempAnchorIdx >= 0) {
                    console.log("Hit a parking space! " + t);

                    // Move to topmost
                    var b = polyParkSpace.splice(t, 1);
                    polyParkSpace.push(b[0]);

                    tempPolyIdx = polyParkSpace.length - 1;
                    prevMousePos = mousePos;

                    u("#cvs_parklot").on("mousemove", handleDrag);
                    break;
                }
            }

            selectedPolyIdx = tempPolyIdx;
            selectedAnchorIdx = tempAnchorIdx;

            redrawCanvas();
        });

        u("#cvs_parklot").on("mouseup", function(eObj) {
            if (selectedPolyIdx >= 0) {
                u(this).off("mousemove");
            }
        });

        u("#btn_new_rect").handle("click", function() {
            var ul_x = 640;
            var ul_y = 360;
            var w = 150;
            var h = 150;

            var polyPts = [{
                x: ul_x,
                y: ul_y
            }, {
                x: ul_x + w,
                y: ul_y
            }, {
                x: ul_x + w,
                y: ul_y + h
            }, {
                x: ul_x,
                y: ul_y + h
            }];

            polyParkSpace.push(polyPts);
            selectedPolyIdx = polyParkSpace.length - 1;

            redrawCanvas();
        });
    </script>
</body>

</html>